@import '../../utils/base.scss';

.myProfileContainer {
  background:  $neutral-color-5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin: 20px;
  height: calc(100vh - 127px);
  .tableContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap:7%
  }
  .buttonResetPasswordContainer{
    display: flex;
    justify-content: flex-end;
    .buttonResetPassword {
      margin-right: 2.5%;
      margin-bottom: 1%;
      margin-top: 1%;
      width: 326px;
      height: 55px;
      border-radius: 4px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $primary-color-1;
      @include h2-font;
      color: $neutral-color-5;
    }
    .buttonResetPassword:hover {
      background-color: $primary-color-2;
    }
    .buttonResetPassword:focus {
      border: 2px solid $neutral-color-2;
    }
  }
}
