@import "../../utils/base.scss";


:export {
    color_1: $secondary-color-3;
    color_2: $primary-color-3;
    color_3: $primary-color-2;
    gridLine: $neutral-color-2;
  
    fontFamily: $font-family;
    font-config: h1;
}

.barChart{
    display: flex;
    width: 1250px;   
    height: 490px;
    background-color: white;
    font-weight: bold;
}