@import '../../../utils/base.scss';
.warningSendPasswordContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $neutral-color-5;
  overflow: hidden; //Encontrar solução
}
.leftWarningSendPassword {
  img {
    height: 100%;
  }
}
.rightWarningSendPassword {
  flex: 1;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.formWarningSendPassword {
  display: flex;
  flex-direction: column;
  .logoInline {
    margin-bottom: 188px;
    width: 204px;
  }
  .backLogin {
    margin-top:5vh;
    transform: translateX(-18px);
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    outline: none;
  
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .backLogin:hover {
    border-radius: 4px;
    background: rgba(66, 66, 66, 0.08);
  }
  .backLogin:focus {
    border-radius: 4px;
    border: 2px solid $neutral-color-2;
  }
}
.rightWarningSendPassword {
  .linkLogin {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
  }
  .linkText {
    @include h5-font;
    color: $neutral-color-2;

    border: 2px solid transparent;
    border-radius: 4px;
  }
  .linkText:hover {
    color: $secondary-color-2;
  }
  .linkText:focus {
    border: 2px solid $neutral-color-2;
    outline: none;
  }
}
.formWarningSendMasterPassword {
  margin-top: 9vh;
  width: 481px;
}
