@import '../../utils/base.scss';
.buttonContainer {
  height: 49px;
  width: 481px;
  background: $primary-color-1;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: $neutral-color-5;
  @include h2-font;
}
.buttonContainer:hover {
  background: $primary-color-2;
}

.buttonContainer:focus {
  background: $primary-color-1;
  border: 2px solid $neutral-color-2;
}
