.modalpai {
    background-color: #FFFFFF;
    width: 723px;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h3 {
    width: 93px;
    height: 38px;
    top: 396px;
    left: 535px;
    color: black
}

p {
    width: 540px;
    height: 114px;
    top: 477px;
    left: 487px;
    opacity: 0.699999988079071px;

    color: black
}