@import '../../utils/base.scss';
@import '../CloseButton/styles.module.scss';
@import '../ChartContainer/styles.module.scss';

:export {
  // For evolution graph
  color_1: $secondary-color-3;
  color_2: $primary-color-3;
  color_3: $primary-color-2;
  gridLine: $neutral-color-2;

  fontFamily: $font-family;
  font-config: h1;

  button_color: $primary-color-1;
}

.chartSubContainerBody {
  width: 100%;
  height: 30vh;

  align-items: center;
  justify-content: center;
}

.modalBox {
  box-sizing: border-box;
}

.chartTitleModal {
  margin: 2% 0px;
}

.chartSubContainerModal {
  width: 100%;
  height: calc(100% - 96px);
  max-height: 440px;

  justify-content: center;
  align-items: center;
}

.modalHeader {
  display: flex;
  flex-direction: row;

  gap: 8px;
}

.closeButtonContainer {
  margin-left: auto;
}

.infoIconContainer:hover {
  z-index: 99999;
}
