@import '../../../utils/base.scss';
.forgotPasswordContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $neutral-color-5;
    overflow: hidden; //Encontrar solução 
}
.leftForgotPassword{
    img{
        height: 100%;
    }
    
}
.rightForgotPassword{
    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formForgotPassword{
    display: flex;
    flex-direction: column;
    .logoInline{
        margin-bottom: 64px;
        width: 204px
    ;
        
    }
    .backLogin{
        margin-bottom: 122px;
        transform: translateX(-8px);
        width: 48px;
        height: 48px;
        background: transparent;
        border: none;
        outline: none;
        float: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .backLogin:hover{
        border-radius: 4px;
        background: rgba(66, 66, 66, 0.08);
    }
    .backLogin:focus{
        border-radius: 4px;
        border: 2px solid $neutral-color-2;

    }
   
    h2{
        color: $neutral-color-2;
        @include h2-font;
        margin:0;
        padding: 0;
        margin-bottom: 20px;
    }
    .InputWithLabel{
        margin-top:80px;
    }
    form{
        button{
            margin-top: 44px
        }
    }
       
}
