@import '../../../utils/base.scss';
.forgotPasswordContainer {
  background-image: url(../../../assets/login/login-pills.jpg);
  background-size: 100%;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden; //Encontrar solução
}
.leftForgotPassword {
  width: 50vw;
  img {
    height: 100%;
  }
}
.rightForgotPassword {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $neutral-color-5;
}
.formForgotPassword {
  display: flex;
  flex-direction: column;
  .logoInline {
    margin-bottom: 15.72vh;
    width: 204px;
  }
  .backLogin {
    transform: translateX(-18px);
    width: 5vh;
    height: 5vh;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 4vh;
    }
  }
  .backLogin:hover {
    border-radius: 4px;
    background: rgba(66, 66, 66, 0.08);
  }
  .backLogin:focus {
    border-radius: 4px;
    border: 2px solid $neutral-color-2;
  }

  h2 {
    color: $neutral-color-2;
    @include h2-font;
    margin: 0;
    padding: 0;
    
  }
  .InputWithLabel {
    margin-top: 7.81vh;
  }
  form {
    button {
      margin-top: 4.30vh;
    }
  }
}
.formForgotMasterPassword {
  margin-top: 5vh;
  height: 519px;
}
.errorMessage {
  display: flex;
  margin: auto;
  padding: auto;
  img {
    margin: 0;
    padding: 0;
    margin-right: 4px;
  }
  margin-top: 8px;
  color: $error-color;
  @include subtitle-font;
}
