.dashboardLayout {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: calc(50vh - 43px) calc(50vh - 44px); /* Definindo a segunda linha */
  grid-template-areas:
    'graph1 graph2'
    'graph3 graph3';
}

.graph1 {
  width: 100%;
  max-height: 45vh;
  grid-area: graph1;
  padding: 2vh 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.graph2 {
  width: 100%;
  max-width: 59vw;
  max-height: 45vh;
  padding: 2vh 2vw;
  grid-area: graph2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.graph3 {
  max-height: 45vh;
  grid-area: graph3;
  padding: 2vh 2vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
