.opened {
  width: 250px;
}

.closed {
  width: 130px;
}

.sidebarTitles {
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka', sans-serif;
}

.sidebarTitles:nth-child(2) {
  align-items: flex-end;
}

.sidebar button {
  flex-direction: row;
  flex: 1;
  align-self: flex-end;
}

.sidebarButtonDiv {
  display: flex;
  flex: 1;
  margin-bottom: 100px;
  width: 160px;
}

.sidebarButton {
  height: 35px;
  border: none;
  border-radius: 5px;
}
.sidebarButton:active {
  background-color: #93989e;
}

.sidebar {
  background: #007e84;
  height: 100vh;
  transition: width 0.4s;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebarButtonText {
  font-size: 16px;
  color: #006064;
  font-weight: 500;
}

.logoSidebartext {
  font-size: 25px;
  color: #ffffff;
}
.sidebarView {
  color: #ffffff;
  font-size: 27px;
  font-weight: 300;
  align-self: flex-end;
}

.menuSidebartext {
  font-size: 44px;
  color: #ffffff;
}

.sufix {
  margin: 60px 0;
}

.sidebarPage span {
  color: #ffffff;
  font-size: 18px;
}

.sidebarPage {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: 10px;
}
.sidebarPage:nth-child(3) {
  padding-left: 3px;
}

.sidebarRoutes {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
