@use '../../utils/base.scss';

.opened {
  width: 248px;
}

.closed {
  width: 120px;
}

.sidebarOpenButton, .logoutButton{
  border: none;
  cursor: pointer;
  outline: none;
}

.activeRoute{
  button{
    span:first-child{    
      background: base.$secondary-color-4;
    }
  }
  width: 100%;
  background: base.$primary-color-2;
  overflow: hidden;
}

.inactiveRoute:hover{
  background:rgb(0 96 100 / 50%);
}

.activeRoute:focus, .inactiveRoute:focus{
  border: 2px solid base.$neutral-color-2;
  border-radius: 4px;
  outline: none;
}


.sidebarOpenButton{
  width: 40px;
  height: 32px;
  position: relative;
  left: 18px;
  border: none;

  padding: 4px 8px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 4px;
  background: base.$secondary-color-4;
  margin-bottom: 10px;  
  border: 2px solid transparent;
  z-index: 1;
  display: flex;
  flex-direction: center;
  align-items: center;
  img{
    max-width: 20px;
  }
}

.sidebarOpenButton:hover{
  background: base.$secondary-color-1;
}

.sidebarOpenButton:focus{
 border: 2px solid base.$neutral-color-2;
}


.gapAtClosedSidebar{
  margin-bottom: 43px;
}


.sidebarTitles {
  display: flex;
  flex-direction: column;
  transition: width 0.4s;
  transition-delay: 250ms;
  transition: width 0.4s;
}

.logoutButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
}

.logoutButton:focus{
  border: 2px solid base.$neutral-color-2;
  border-radius: 4px;
}

.logo{
  width: 79px;
  height: 35px;
  
}

.logoutButton{
  color: base.$neutral-color-1;
  flex: 1;
  overflow: hidden;
}
.logoutButton:hover{
  background-color : base.$neutral-color-4;
}


.sidebar button {
  flex-direction: row;

  align-self: flex-end;
  @include base.h4-font;
}

.logoutButtonClosed{
  width: 34px;
  height: 34px;  
  span{
    display: none;
  }
}

.logoutButtonOpened{
  width: 137px;
}

.sidebarButtonDiv {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 57px;
  transition: width 0.4s;
}


.sidebarButton {
  height: 35px;
  border: none;
  border-radius: 5px;
  .buttonText{
    @include base.h5-font
  }
}

.sidebarButton.logoutButton{
  color: base.$neutral-color-1 ;
}

.sidebar {
  background: base.$primary-color-1;
  height: 100vh;
  transition: width 0.4s;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.logoSidebartext {
  font-size: 25px;
  color: #ffffff;
}
.sidebarView {
  color: #ffffff;
  font-size: 27px;
  font-weight: 300;
  align-self: flex-end;
}

.menuSidebartext {
  font-size: 44px;
  color: #ffffff;
}

.sufix {
  margin: 48px 0 80px 0;
  width: 188px;
  transition: width 0.4s;
}

.sufixClosed {
  margin: 48px 0 80px 0;
  width: 81px;
}

.sidebarPage span {
  color: #ffffff;
  font-size: 18px;
}

.sidebarPage {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebarPage:nth-child(3) {
  padding-left: 3px;
}

.sidebarRoutes {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  overflow: hidden;
}
