@import '../../../utils/base.scss';
.resetPasswordContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: $neutral-color-5;
    overflow: hidden; //Encontrar solução 
}
.leftResetPassword{
    img{
        height: 100%;
    }
    
}
.rightResetPassword{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formResetPassword{
    img{
        margin-bottom: 112px;
    }
    h2{
        color: $neutral-color-2;
        @include h2-font;
        margin:0;
        padding: 0;
        margin-bottom: 20px;
    }
    .InputWithLabel{
        margin-bottom:56px;
    }
    .titleSubtitle{
        margin-bottom: 56px;
    }
    
       
}
