@import '../../../utils/base.scss';
.resetPasswordContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $neutral-color-5;
  overflow: hidden; //Encontrar solução
}
.leftResetPassword {
  img {
    height: 100%;
  }
}
.rightResetPassword {
  flex: 1;
  display: flex;
  justify-content: center;
}
.formResetPassword {
  margin-top: 20vh;
  height: 519px;
  .LogoResetPassword {
    margin-bottom: 112px;
  }
  h2 {
    color: $neutral-color-2;
    @include h2-font;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .InputWithLabel {
    margin-top: 44px;
  }
  .titleSubtitle {
    margin-bottom: 12px;
  }
  button{
    margin-top:44px;
  }
}

.inputTypeConfirmPassword {
  display: flex;
  align-items: flex-end;
  position: relative;
  .passwordToggle {
    margin: 0;
    height: 18px;
    width: 18px;
    position: absolute;
    right: 15px;
    bottom: 70px;
  }
}

.inputTypePassword {
    
   
    position: relative;
    .passwordToggle {
      margin: 0;
      height: 18px;
      width: 18px;
      position: absolute;
      right: 15px;
      bottom: 16px
    }
  }
  .errorMessage{
    display: flex;
    margin: auto;
    padding: auto;
    img{
      margin:0;
      padding: 0;
      margin-right: 4px;
    }
    margin-top:8px;
    color: $error-color;
    @include subtitle-font;
  }
  .teste{
    display: flex;
    flex-direction: column;
  }