$background-color: #eaf1f8;
$primary-color-1: #00838f;
$primary-color-2: #006064;
$primary-color-3: #26c6da;
$secondary-color-1: #ff7043;
$secondary-color-2: #bf360c;
$secondary-color-3: #ff5722;
$secondary-color-4: #ff8a65;
$neutral-color-1: #424242;
$neutral-color-2: #9e9e9e;
$neutral-color-3: #e0e0e0;
$neutral-color-4: #ffffff;

$error-color: #f64c4d;
$alert-color: #ffad0d;
$success-color: #47b881;
$emphasis-color: #3b82f6;

$font-family: 'Roboto', sans-serif;
$h1-font: $font-family normal 700 32px/120%;
$h2-font: $font-family normal 700 25px/120%;
$h3-font: $font-family normal 700 18px/120%;
$h4-font: $font-family normal 500 16px/120%;
$h5-font: $font-family normal 500 14px/120%;
$normal-text-font: $font-family normal 400 14px/120%;
$normal-text-bold-font: $font-family normal 700 14px/120%;
$subtitle-font: normal 400 12px/120% $font-family;
$subtitle-bold-font: normal 700 12px/120% $font-family;
