@import '../../utils/base.scss';

.topBarContainer {
  background-color: $primary-color-2;
  height: 87px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.topBarContainer {
  h1 {
    margin-left: 48px;
    color: $neutral-color-5;
    @include h2-font;
  }
  p {
    color: $neutral-color-5;
    @include h5-font;
  }
  button {
    padding: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    outline: none;
  }
  button:hover {
    border-radius: 4px;
    background: rgba(66, 66, 66, 0.32);
  }
  button:active {
    border-radius: 4px;
    background: rgba(66, 66, 66, 0.32);
  }
  button:focus {
    border-radius: 4px;
    border: 2px solid $neutral-color-1;
  }
  .topBarDivider {
    margin: 0;
    padding: 14px;
  }
}
.leftMenu {
  display: flex;
  align-items: center;
}

.leftMenu {
  img {
    margin: 0px 14px 0px 14px;
  }
}

.modalWrapper {
  position: absolute;
  top: 67px;
  right: 34px;
  width: 414px;
  height: 398px;
  display: flex;
  justify-content: end;
}

.modalContent {
  background-color: $neutral-color-5;
  width: 100%;
  border-radius: 4px;
  z-index: 20;
}
