@import '../../../../utils/base.scss';

.cardNotification{
    margin:  0px 9px 8px 21px;
    padding: 14px;
    background: $neutral-color-4;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: flex;
    position: relatives;
    

    p{
        color:$neutral-color-2;
        @include subtitle-bold-font
    }
    .cardViewed{
        margin-right: 8px;
        height: 7.5px;
        width: 7.5px;
        background:$error-color;
        border-radius: 6px;
        position: absolute;
        top: -2.5px;
        left: -1.5px;
    }
}
