@import '../../../../utils/base.scss';

.cardNotification{
    margin:  0px 9px 8px 21px;
    padding: 14px;
    background: $neutral-color-4;
    border-radius: 4px;
    position: relative;

    p{
        color:$neutral-color-2;
        @include subtitle-bold-font
    }
}
