@import '../../../utils/base.scss';

.lineContainer{
    width: 1073px;
    img{
        margin-bottom: 48px;
    }
}
.lineInformation{
 display: flex;
}
.title{
    @include h2-font;
    margin-left: 47.5px;
}
.value{
    @include h4-font;
    margin-right: 20%;
}
.titleContainer{
    width: 50%;
}
.valueContainer{
    width: 50%;
}