@use '../utils/base.scss';

.dashboardLayoutContainer {
  display: grid;
  grid-template-areas:
    'sidebar topbar topbar'
    'sidebar charts charts';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.dashboardLayoutSideBar {
  grid-area: sidebar;
}

.dashboardLayoutTopBar {
  grid-area: topbar;
}

.dashboardContent {
  grid-area: charts;
}
