@import '../../utils/base.scss';

:export {
  color_1: $secondary-color-3;
  color_2: $primary-color-3;
  color_3: $primary-color-2;
  gridLine: $neutral-color-2;

  fontFamily: $font-family;
  font-config: h1;
}

.chartStyle {
  height: 30vh;
  width: 100%;
}

.modalChart{
    height: 400px;
    width: 1200px;
}

.barChart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
